*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html{
    font-family: 'Fredoka One', cursive;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

/* body{
    background-color: green;

} */

header{
    width: 80%;
    margin: auto;
}

header h1{
    font-size: 3rem;
    color:red;
    margin: auto;
    text-align: center;
    padding: 3%;
}

header p{
    color: black;
    text-align: center;
    margin-bottom: 5%;
    /* margin-left: 5%;
    margin-right: 5%; */
}

.container{
    width: 80%;
    margin: auto;
}

.blue-text{
    color: cornflowerblue;
}

.col img{
    height: 120px;
}

.col h3,p{
    color: white;
}

/* .columns{
    background-color: black;
} */

.col{
    float: left;
    width: calc(100% / 3);
    padding: 10px 20px;
}

.card{
    background-color: black;
    box-shadow: 20px -3px 30px lightgray;
    /* padding: 2%; */
}

.card img{
    float: left;
    padding-right: 15px;
}

.card h3,p{
    padding-top: 10px;
}
